<div class="pin-title">
    <img src="../images/icon/push-pin-red.png" alt="">
    <h3>PINNED USERS</h3>
    <div class="pull-right right-menu">
        <ul>
            <li class="dropdown hidden">
                <a href="#" prevent-default class="dropdown-toggle border" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span ng-bind="vm.Country"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu graph-filters-fix-width-height">
                    <li>
                        <a href="" prevent-default ng-click="vm.Country = '';vm.getPinnedUsersByFilters(); ">All</a>
                    </li>
                    <li ng-repeat="country in vm.Countries" class="border-top">
                        <a href="#" prevent-default ng-click="vm.Country = country; vm.getPinnedUsersByFilters();">{{country}}</a>
                    </li>
                </ul>
                <!--<select class="form-control performers-filters  pull-right" ng-model="vm.Country" ng-change="vm.getPinnedUsersByFilters()"
                        ng-options="country for country in vm.Countries">
                    <option value="">Country</option>
                </select>-->
            </li>

            <!--<li class="dropdown green-bg">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Region<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Test</a></li>
                    <li><a href="#">Test</a></li>
                </ul>
            </li>-->
        </ul>
    </div>
    <hr class="border">
</div>

<div ng-if="vm.loadComplete">
    <div class="pin-user" ng-hide="vm.NoPinnedUserFound">
        <div class="performers-card" ng-repeat="pinnedUser in vm.PinnedUsers" ng-class="pinnedUser.ROI > 0 ? 'green' : 'red'">
            <h4><strong>{{pinnedUser.PerformerName}}</strong></h4>
            <h4>
                <font style="font-weight: bold;font-size: 17px;">({{pinnedUser.AccountNumber}})</font>
            </h4>
            <h2 ng-bind="pinnedUser.ROI | number"></h2>
            <!--<h2 ng-bind="pinnedUser.ROI | number" ng-class="pinnedUser.ROI > 0 ? 'text-green': 'text-red'"></h2>-->
            <h4>ROI%</h4>
            <h3>
                Max DD%:
                <span ng-bind="pinnedUser.DD | number"></span>
            </h3>
            <h3>
                Win%:
                <span ng-bind="pinnedUser.WINRate | number"></span>
            </h3>
            <h3>
                Sharpe Ratio:
                <span ng-bind="pinnedUser.SharpRatio | number"></span>
            </h3>
            <div class="floater">
                <ul class="floater__list">
                    <li class="floater__list-item" ng-if="vm.isPinnedUsers" ng-click="vm.unpinUser(pinnedUser)">
                        <div class="floater__list-item-label">Unpin User</div>
                        <i class=""><img src="/Images/icon/unpinusers.png" alt=""></i>
                    </li>
                    <li class="floater__list-item" ng-if="vm.isCompare" ng-click="vm.updateCompareUsers(pinnedUser.AccountDetailId)">
                        <div class="floater__list-item-label">Compare User</div>
                        <i class=""><img src="/Images/icon/weight-balance.png" alt=""></i>
                    </li>
                    <li class="floater__list-item" ng-if="vm.isViewDetail" ng-click="vm.viewUserDetails(pinnedUser.AccountDetailId)" title="View Details">
                        <div class="floater__list-item-label">View User</div>
                        <i class="fa fa-eye"></i>
                    </li>
                    <li class="floater__list-item" ng-if="vm.isExcludeUser" ng-click="vm.updateExcludeUsers(pinnedUser.AccountDetailId)">
                        <div class="floater__list-item-label">Delete User</div>
                        <i class="fa fa-trash"></i>
                    </li>
                </ul>
                <div class="floater__btn" open-close-icons>
                    <i class="fa fa-bars"></i>
                    <i class="fa fa-close"></i>
                </div>
            </div>


            <!--<div class="card-overlay">
                <ul>
                    <a ng-if="vm.isExcludeUser" href="#" prevent-default ng-click="vm.updateExcludeUsers(pinnedUser.AccountDetailId)" class="delete-icon"><i class="fa fa-trash"></i></a>
                    <li ng-if="vm.isPinnedUsers">
                        <a href="#" prevent-default ng-click="vm.unpinUser(pinnedUser)">
                            <img src="/Images/icon/unpinusers.png" alt="">
                        </a>
                    </li>
                    <li ng-if="vm.isCompare">
                        <a href="#" prevent-default ng-click="vm.updateCompareUsers(pinnedUser.AccountDetailId)"><img src="../images/icon/weight-balance.png" alt=""></a>
                    </li>
                    <li ng-if="vm.isViewDetail">
                        <a href="#" prevent-default ng-click="vm.viewUserDetails(pinnedUser.AccountDetailId)">
                            <img src="../images/icon/eye.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>-->
        </div>
    </div>
    <div class="widget-main-container" ng-show="vm.NoPinnedUserFound">
        <div class="box box-block bg-white tile tile-1 mb-2 main-widget-box">
            <div class="row row-md">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <div>
                        <div class="t-content no-result">
                            No user pinned yet.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="loader" ng-if="!vm.loadComplete">
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__ball"></div>
</div>

<!--<div class="sk-rotating-plane" ng-if="!vm.loadComplete"></div>-->
<!--<div class="row">
    <div class="col-md-12">
        <div class="widget-main-container" ng-hide="vm.NoPinnedUserFound">
            <div class="panel-title">
                <h3><i class="ti-pin2"></i>PINNED USERS</h3>
                <div class="panel-title-actions pull-right">
                    <form class="form-material">
                        <ul class="nav navbar-nav">
                            <li class="nav-item dropdown">
                                <select class="form-control performers-filters  pull-right" ng-model="vm.Country" ng-change="vm.getPinnedUsersByFilters()"
                                        ng-options="country for country in vm.Countries">
                                    <option value="">Country</option>
                                </select>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="box box-block bg-white tile tile-1 mb-2 main-widget-box">
                <div class="row row-md">
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 margin-bottom-10px" ng-repeat="pinnedUser in vm.PinnedUsers">
                        <div class="box box-block bg-white tile tile-1 mb-0">
                            <div class="overlay-icons">
                                <ul class="overlay-icons-list">
                                    <li ng-click="vm.unpinUser(pinnedUser)" title="Unpin User"><span class="ti-pin-alt"></span></li>
                                    <li title="Compare"><i class="fa fa-balance-scale"></i></li>
                                    <li title="View Details">
                                        <a href="#UserDetails/{{pinnedUser.AccountDetailId}}">
                                            <span class="ti-eye"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="t-content">
                                <h6 class="text-uppercase mb-1" ng-bind="pinnedUser.PerformerName"></h6>
                                <h1 class="mb-1" ng-bind="pinnedUser.PerformerName"></h1>
                                <div class="row tile-content">
                                    <div class="col-md-12 col-sm-12 col-xs-12">ROI %</div>
                                </div>
                                <div class="row tile-content">
                                    <div class="col-md-8 col-sm-8 col-xs-8 tile-content-titles">Max DD% :</div>
                                    <div class="col-md-4 col-sm-4 col-xs-4" ng-bind="pinnedUser.DD"></div>
                                </div>
                                <div class="row tile-content">
                                    <div class="col-md-8 col-sm-8 col-xs-8 tile-content-titles">Win% :</div>
                                    <div class="col-md-4 col-sm-4 col-xs-4" ng-bind="pinnedUser.WIN"></div>
                                </div>
                                <div class="row tile-content">
                                    <div class="col-md-8 col-sm-8 col-xs-8 tile-content-titles">Sharp Ratio% :</div>
                                    <div class="col-md-4 col-sm-4 col-xs-4" ng-bind="pinnedUser.SharpRatio"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="widget-main-container" ng-show="vm.NoPinnedUserFound">
            <div class="box box-block bg-white tile tile-1 mb-2 main-widget-box">
                <div class="row row-md">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <div>
                            <div class="t-content no-result">
                                No user pinned yet.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>-->
