<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="mongodb://localhost:27017" />
    <add key="DBName" value="S2TAnalytics" />
    <add key="StripeApiKey" value="sk_test_lhJg6DebLPjlyvNxg2u7oXBw" />
  </appSettings>
</configuration>