<!--<div class="block ">-->
    <div ng-if="mainVM.isDashBoard">
        <top-performers-and-pinned-users></top-performers-and-pinned-users>
    <!--</div>
</div>-->

<div class="block">
    <div class="container shadow-none">
        <div class="col-md-5 small-block balance-block" style="min-height: 438px;">
            <comparison-data></comparison-data>
        </div>
        <div class="col-md-6 large-block balance-block" style="min-height: 438px;">
            <nav-map></nav-map>
        </div>
    </div>
</div>

<div class="block">
    <div class="container shadow-none">
        <div class="col-md-5 small-block balance-block" style="min-height: 438px;">
            <instruments-by-location></instruments-by-location>
        </div>
        <div class="col-md-6 large-block balance-block" style="min-height: 438px;">
            <instruments-by-group></instruments-by-group>
        </div>
    </div>
</div>
        </div>
<input type="hidden" id="_hiddenCopyText_" />