<div class="block _performers">
    <div class="container">
        <top-performers></top-performers>
    </div>
</div>

<!--<div class="block _performers">
    <div class="container">
        <top-performers-widget></top-performers-widget>
    </div>
</div>-->


<div class="block _performers">
    <div class="container">
        <performer-list></performer-list>
    </div>
</div>


<!--<div class="_performers">
    <top-performers></top-performers>
    <performer-list></performer-list>
</div>-->
<!--<div class="row row-md mb-2">
    <div class="col-md-12">
        <div class="box bg-white">
            <div class="_performers">
                <top-performers></top-performers>
                <performer-list></performer-list>
            </div>
        </div>
    </div>
</div>-->
