<div class="block _performers">
    <div class="container shadow-none">
        <pinned-users></pinned-users>
    </div>
</div>



<!--<div class="_performers">
    <!--<top-five-pinned-users></top-five-pinned-users>-a->
    <pinned-users></pinned-users>
</div>-a->
<!--<div class="row row-md mb-2">
    <div class="col-md-12">
        <div class="box bg-white">
            <div class="_performers">
                <top-five-pinned-users></top-five-pinned-users>
                <pinned-users></pinned-users>
            </div>
        </div>
    </div>
</div>-->