<div class="site-content-nonav">
    <!-- Content -->
    <div class="content-area py-1">
        <div class="container-fluid">
            <div class="row row-md">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="box box-block bg-green tile tile-3 mb-2">
                        <div class="t-icon right"><span class="icon-revenue"></span></div>
                        <div class="t-content">
                            <h1 class="mb-0 font-bold">2340000</h1>
                            <h6 class="text-uppercase text-success text-black font-bold">Total Revenue (s)</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="box box-block bg-green tile tile-3 mb-2">
                        <div class="t-icon right"><span class="icon-registered-users"></span></div>
                        <div class="t-content">
                            <h1 class="mb-0 font-bold">20</h1>
                            <h6 class="text-uppercase text-danger text-black font-bold">Registered Users</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="box box-block bg-green tile tile-3 mb-2">
                        <div class="t-icon right"><span class="overdue-bills"></span></div>
                        <div class="t-content">
                            <h1 class="mb-0 font-bold">6</h1>
                            <h6 class="text-uppercase text-primary text-black font-bold">Overdue Bills</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="box box-block bg-green tile tile-3 mb-2">
                        <div class="t-icon right"><span class="subscription-request"></span></div>
                        <div class="t-content">
                            <h1 class="mb-0 font-bold">3</h1>
                            <h6 class="text-uppercase text-warning text-black font-bold">Subscription Request</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-md mb-1">
                <div class="col-md-8">
                    <div class="card email-query">
                        <div class="card-header text-uppercase">
                            <b>OPEN REQUEST</b>
                            <div class="float-xs-right">
                                <select class="custom-select" style="height:auto;padding-bottom:1px;padding-top:1px;">
                                    <option selected>Request Action</option>
                                    <option value="1">Edit</option>
                                    <option value="3">Approve</option>
                                    <option value="2">Delete</option>
                                    <option value="3">Spam</option>
                                </select>
                            </div>
                        </div>



                        <div class="box-block-small content-height">
                            <table class="table table-striped table-bordered dataTable" id="table-2" style="font-size:11px;">
                                <thead>
                                    <tr>
                                        <th class="no-sort"><input type="checkbox" /></th>
                                        <th>NAME</th>
                                        <th>CURRENT PLAN</th>
                                        <th>EMAIL ID</th>
                                        <th>REPORT USERS</th>
                                        <th>REQUEST DETAILS</th>
                                        <th>PAYMENT STATUS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Axiselect</td>
                                        <td>Basic Preview</td>
                                        <td>axisanalytics@axiselect.com</td>
                                        <td>10</td>
                                        <td>Unlimited Plan</td>
                                        <td class="status-active">Active</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Oanda</td>
                                        <td>Advanced</td>
                                        <td>axisanalytics@axiselect.com</td>
                                        <td>10</td>
                                        <td>Extend Preview</td>
                                        <td class="status-active">Active</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Axiselect</td>
                                        <td>Advanced</td>
                                        <td>axisanalytics@axiselect.com</td>
                                        <td>10</td>
                                        <td>Custom Data Source</td>
                                        <td class="status-inactive">In Active</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Oanda</td>
                                        <td>Advanced</td>
                                        <td>axisanalytics@axiselect.com</td>
                                        <td>10</td>
                                        <td>Unlimited Plan</td>
                                        <td class="status-active">Active</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Oanda</td>
                                        <td>Advanced</td>
                                        <td>axisanalytics@axiselect.com</td>
                                        <td>10</td>
                                        <td>Custom Data Source</td>
                                        <td class="status-active">Active</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Trident</td>
                                        <td>AOL browser (AOL desktop)</td>
                                        <td>Win XP</td>
                                        <td>6</td>
                                        <td>A</td>
                                        <td class="status-inactive">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Firefox 1.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.7</td>
                                        <td>A</td>
                                        <td class="status-due">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Firefox 1.5</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                        <td class="status-inactive">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Firefox 2.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Firefox 3.0</td>
                                        <td>Win 2k+ / OSX.3+</td>
                                        <td>1.9</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Camino 1.0</td>
                                        <td>OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Camino 1.5</td>
                                        <td>OSX.3+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Netscape 7.2</td>
                                        <td>Win 95+ / Mac OS 8.6-9.2</td>
                                        <td>1.7</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Netscape Browser 8</td>
                                        <td>Win 98SE+</td>
                                        <td>1.7</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Netscape Navigator 9</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Mozilla 1.0</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td>1</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Mozilla 1.1</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td>1.1</td>
                                        <td>A</td>
                                        <td class="status-inactive">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Mozilla 1.2</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td>1.2</td>
                                        <td>A</td>
                                        <td class="status-due">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Mozilla 1.3</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td>1.3</td>
                                        <td>A</td>
                                        <td class="status-due">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Mozilla 1.4</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td>1.4</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Mozilla 1.5</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td>1.5</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Mozilla 1.6</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td>1.6</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Mozilla 1.7</td>
                                        <td>Win 98+ / OSX.1+</td>
                                        <td>1.7</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Mozilla 1.8</td>
                                        <td>Win 98+ / OSX.1+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Seamonkey 1.1</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Gecko</td>
                                        <td>Epiphany 2.20</td>
                                        <td>Gnome</td>
                                        <td>1.8</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Webkit</td>
                                        <td>Safari 1.2</td>
                                        <td>OSX.3</td>
                                        <td>125.5</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Webkit</td>
                                        <td>Safari 1.3</td>
                                        <td>OSX.3</td>
                                        <td>312.8</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Webkit</td>
                                        <td>Safari 2.0</td>
                                        <td>OSX.4+</td>
                                        <td>419.3</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Webkit</td>
                                        <td>Safari 3.0</td>
                                        <td>OSX.4+</td>
                                        <td>522.1</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Webkit</td>
                                        <td>OmniWeb 5.5</td>
                                        <td>OSX.4+</td>
                                        <td>420</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Webkit</td>
                                        <td>iPod Touch / iPhone</td>
                                        <td>iPod</td>
                                        <td>420.1</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Webkit</td>
                                        <td>S60</td>
                                        <td>S60</td>
                                        <td>413</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Presto</td>
                                        <td>Opera 7.0</td>
                                        <td>Win 95+ / OSX.1+</td>
                                        <td>-</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Presto</td>
                                        <td>Opera 7.5</td>
                                        <td>Win 95+ / OSX.2+</td>
                                        <td>-</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Presto</td>
                                        <td>Opera 8.0</td>
                                        <td>Win 95+ / OSX.2+</td>
                                        <td>-</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Presto</td>
                                        <td>Opera 8.5</td>
                                        <td>Win 95+ / OSX.2+</td>
                                        <td>-</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Presto</td>
                                        <td>Opera 9.0</td>
                                        <td>Win 95+ / OSX.3+</td>
                                        <td>-</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Presto</td>
                                        <td>Opera 9.2</td>
                                        <td>Win 88+ / OSX.3+</td>
                                        <td>-</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Presto</td>
                                        <td>Opera 9.5</td>
                                        <td>Win 88+ / OSX.3+</td>
                                        <td>-</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Presto</td>
                                        <td>Opera for Wii</td>
                                        <td>Wii</td>
                                        <td>-</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Presto</td>
                                        <td>Nokia N800</td>
                                        <td>N800</td>
                                        <td>-</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Presto</td>
                                        <td>Nintendo DS browser</td>
                                        <td>Nintendo DS</td>
                                        <td>8.5</td>
                                        <td>
                                            C/A<sup>1</sup>
                                        </td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>KHTML</td>
                                        <td>Konqureror 3.1</td>
                                        <td>KDE 3.1</td>
                                        <td>3.1</td>
                                        <td>C</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>KHTML</td>
                                        <td>Konqureror 3.3</td>
                                        <td>KDE 3.3</td>
                                        <td>3.3</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>KHTML</td>
                                        <td>Konqureror 3.5</td>
                                        <td>KDE 3.5</td>
                                        <td>3.5</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Tasman</td>
                                        <td>Internet Explorer 4.5</td>
                                        <td>Mac OS 8-9</td>
                                        <td>-</td>
                                        <td>X</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Tasman</td>
                                        <td>Internet Explorer 5.1</td>
                                        <td>Mac OS 7.6-9</td>
                                        <td>1</td>
                                        <td>C</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Tasman</td>
                                        <td>Internet Explorer 5.2</td>
                                        <td>Mac OS 8-X</td>
                                        <td>1</td>
                                        <td>C</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Misc</td>
                                        <td>NetFront 3.1</td>
                                        <td>Embedded devices</td>
                                        <td>-</td>
                                        <td>C</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Misc</td>
                                        <td>NetFront 3.4</td>
                                        <td>Embedded devices</td>
                                        <td>-</td>
                                        <td>A</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Misc</td>
                                        <td>Dillo 0.8</td>
                                        <td>Embedded devices</td>
                                        <td>-</td>
                                        <td>X</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Misc</td>
                                        <td>Links</td>
                                        <td>Text only</td>
                                        <td>-</td>
                                        <td>X</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Misc</td>
                                        <td>Lynx</td>
                                        <td>Text only</td>
                                        <td>-</td>
                                        <td>X</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Misc</td>
                                        <td>IE Mobile</td>
                                        <td>Windows Mobile 6</td>
                                        <td>-</td>
                                        <td>C</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Misc</td>
                                        <td>PSP browser</td>
                                        <td>PSP</td>
                                        <td>-</td>
                                        <td>C</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" name="" id="" /></td>
                                        <td>Other browsers</td>
                                        <td>All others</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>U</td>
                                        <td class="status-active">X</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card email-query">
                        <div class="card-header text-uppercase">
                            <b>NEW REGISTRATION</b>
                            <div class="float-xs-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary btn-sm">WEEK</button>
                                    <button type="button" class="btn btn-secondary btn-sm active">MONTH</button>
                                </div>
                            </div>
                        </div>
                        <div class="items-list content-height custom-scroll">
                            <div class="il-item">
                                <a class="text-black" href="#">
                                    <div class="media">
                                        <div class="media-left">
                                            <h6 class="media-heading">AXI SELECT</h6>
                                            <span class="text-muted">sample@axiselect.com</span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading">Basic (Preview Plan)</h6>
                                            <span class="text-muted">14 Days Left</span>
                                        </div>
                                    </div>
                                    <div class="il-icon"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </div>
                            <div class="il-item">
                                <a class="text-black" href="#">
                                    <div class="media">
                                        <div class="media-left">
                                            <h6 class="media-heading">LOREM IPSUM</h6>
                                            <span class="text-muted">sample@axiselect.com</span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading">Advanced Plan</h6>
                                            <span class="text-muted">Active</span>
                                        </div>
                                    </div>
                                    <div class="il-icon"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </div>
                            <div class="il-item">
                                <a class="text-black" href="#">
                                    <div class="media">
                                        <div class="media-left">
                                            <h6 class="media-heading">LOREM IPSUM</h6>
                                            <span class="text-muted">sample@axiselect.com</span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading">Unlimited Plan</h6>
                                            <span class="text-muted">In-Progress</span>
                                        </div>
                                    </div>
                                    <div class="il-icon"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </div>
                            <div class="il-item">
                                <a class="text-black" href="#">
                                    <div class="media">
                                        <div class="media-left">
                                            <h6 class="media-heading">LOREM IPSUM</h6>
                                            <span class="text-muted">sample@axiselect.com</span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading">Unlimited Plan</h6>
                                            <span class="text-muted">In-Progress</span>
                                        </div>
                                    </div>
                                    <div class="il-icon"><i class="fa fa-angle-right"></i></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-md mb-1">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header text-uppercase">
                            <b>EMAIL QUERIES</b>
                            <div class="float-xs-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary btn-sm active">WEEK</button>
                                    <button type="button" class="btn btn-secondary btn-sm">MONTH</button>
                                </div>
                            </div>
                        </div>
                        <div class="box-block bg-white">
                            <div class="chart-container" style="height: 250px;">
                                <!-- <div id="chart-1" class="chart-placeholder"></div> -->
                                <div id="donut1" class="chart-placeholder"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header text-uppercase">
                            <b>OUR PERFORMANCE</b>
                            <div class="float-xs-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary btn-sm">WEEK</button>
                                    <button type="button" class="btn btn-secondary btn-sm active">MONTH</button>
                                </div>
                            </div>
                        </div>
                        <div class="box-block bg-white">
                            <div class="chart-container" style="height: 250px;">
                                <div id="line-area" class="chart-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header text-uppercase">
                            <b>PLAN DISTRIBUTION</b>
                        </div>
                        <div class="box-block bg-white">
                            <div class="chart-container" style="height: 255px;">
                                <div id="donut" class="chart-container demo-chart-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript" src="/Scripts/SuperAdmin/index.js"></script>
